<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>

<menu id="sys" label="System">

    <!-- <item icon="/usr/share/icons/Faenza/apps/22/bleachbit.png" label="BleachBit">
        <action name="Execute">
            <execute>bleachbit</execute>
        </action>
    </item> -->

    <!-- <item icon="/usr/share/icons/Faenza/apps/22/virtualbox.png" label="VirtualBox">
        <action name="Execute">
            <execute>VirtualBox</execute>
        </action>
    </item> -->

    <!-- <item icon="/usr/share/icons/Faenza/apps/22/htop.png" label="Htop">
        <action name="Execute">
            <execute>xterm -e htop</execute>
        </action>
    </item> -->

    <!-- <item icon="/usr/share/icons/Faenza/apps/22/logview.png" label="PacmanLogViewer">
        <action name="Execute">
            <execute>plv</execute>
        </action>
    </item> -->

    <item icon="/usr/share/icons/Faenza/apps/22/gparted.png" label="GParted">
        <action name="Execute">
            <execute>sakura --execute='sudo gparted'</execute>
        </action>
    </item>

    <item icon="/usr/share/icons/Faenza/apps/22/checkbox.png" label="pdf2img">
        <action name="Execute">
            <execute>pdf2img</execute>
        </action>
    </item>

    <!-- <item icon="/usr/share/icons/Faenza/apps/22/seahorse.png" label="Seahorse">
        <action name="Execute">
            <execute>seahorse</execute>
        </action>
    </item> -->

    <item icon="/usr/share/icons/Faenza/apps/22/preferences-desktop-default-applications.png" label="Clear Pref. Apps">
        <action name="Execute">
            <execute>exo-preferred-applications -c</execute>
        </action>
    </item>

    <!-- <item icon="/usr/share/icons/Faenza/mimetypes/22/application-x-7zip.png" label="7-Zip FM">
        <action name="Execute">
            <execute>7zFM</execute>
        </action>
    </item> -->

    <item icon="/usr/share/icons/Faenza/apps/22/terminal.png" label="Sakura">
        <action name="Execute">
            <execute>sakura</execute>
        </action>
    </item>

    <item icon="/usr/share/icons/Faenza/apps/22/Thunar.png" label="File Manager">
        <action name="Execute">
            <execute>exo-open --launch FileManager</execute>
        </action>
    </item>

    <!-- <item icon="/usr/share/icons/Faenza/apps/22/calc.png" label="Galculator">
        <action name="Execute">
            <execute>galculator</execute>
        </action>
    </item> -->

</menu>
</openbox_menu>